header a {
    text-decoration: none;
    color: var(--white-color);
}

header {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    color: var(--white-color);
    font-size: 15px;
    height: var(--header-height);
}

.header__navbar {
    font-size: 15px;
    height: var(--header-height-navbar);
}

.header__navbar-list,
.header__navbar-left-item,
.header__navbar-right-item,
.header__navbar,
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-list li {
    margin: 0 8px;
}

.header__navbar-right-item-strong {
    font-weight: 500;
}

.header__navbar-left-item,
.header__navbar-right-item {
    position: relative;
    cursor: pointer;
}

.header__navbar-left-item a:hover,
.header__navbar-right-item a:hover,
.header__navbar-left-item--has-qr:hover {
    color: hsla(0, 0%, 100%, .7);
}

.header__qr {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0;
    top: 200%;
    border-radius: 3px;
    overflow: hidden;
    display: none;
}

.header__navbar-left-item--has-qr:hover .header__qr {
    display: block;
    z-index: 2;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.9375rem 0.3125rem;
}

.header__qr-download-item {
    width: 4.375rem;
    margin-top: 0.3125rem;
    margin-right: 5px;
}

.header__qr-download-img {
    width: 100%;
}

.header__qr-img {
    width: 100%;
}

.header__notification {
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    width: 400px;
    position: absolute;
    right: 0;
    top: 140%;
    transform-origin: calc(100%-20px) top;
    animation: headerNotifyGrowth ease-in-out 0.25s;
    display: none;
}

.header__notification::before {
    content: "";
    border-width: 30px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -40px;
}

.header--has-notify:hover .header__notification {
    display: block;
    z-index: 2;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.notify-body__img {
    width: 150px;
    opacity: 0.5;
}

.notify-body__alert {
    margin-top: 30px;
    color: var(--black-color);
    font-weight: 500;
}

.header__notify-footer {
    color: var(--black-color);
    display: flex;
    justify-content: center;
}

.notify-footer--btn {
    border: none;
    background-color: #f5f5f5;
    width: 50%;
    height: 40px;
    font-size: 15px;
}

.notify-footer--btn:hover {
    color: var(--primary-color);
    background-color: #ddd;
}

.header__navbar-item-line::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fb9086;
    height: 12px;
    top: 10%;
    right: -10px;
}

.header__menu {
    height: var(--header-height-menu);
}

.header__menu-logo {
    width: 150px;
    height: 50px;
    margin: 0 8px;
}

.header__menu-searchbar {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    width: 840px;
    height: var(--header-height-navbar);
}

.header__menu-input {
    background-color: var(--white-color);
    border-color: var(--white-color);
}

.header__menu-input__input {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding: 0 0.625rem;
    outline: none;
    border: none;
    height: var(--header-height-navbar);
    text-transform: uppercase;
    width: 600px;
}

.header__menu-option {
    cursor: pointer;
}

.header__menu-selected {
    color: #000;
    height: var(--header-height-navbar);
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-line);
    padding: 0 0 0 10px;
    height: 75%;
    margin-top: 5px;
}

.menu-selected--option {
    background-color: var(--white-color);
    width: 170px;
    position: absolute;
    bottom: -85px;
    left: -10px;
    border-radius: 2px;
    border: 1px solid #ededed85;
    display: none;
}

.header__menu-option:hover .menu-selected--option {
    display: block;
}

.option-selected {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.fa-check {
    color: var(--primary-color);
}

.fa-chevron-down {
    margin-left: 20px;
    font-size: 10px;
}

.header__menu-btn {
    width: 64px;
    margin: 2px;
    color: var(--white-color);
    border: none;
    background: #fb5831;
    cursor: pointer;
}

.fa-cart-shopping {
    width: 90px;
    font-size: 20px;
}

.header__menu-cart {
    position: relative;
    cursor: pointer;
}

.header__product {
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    width: 400px;
    position: absolute;
    right: 40%;
    top: 180%;
    transform-origin: calc(100%-20px) top;
    animation: headerNotifyGrowth ease-in-out 0.25s;
    display: none;
}

.header__product::before {
    content: "";
    border-width: 30px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -40px;
}

.header__menu-cart:hover .header__product {
    display: block;
}

.header__product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-size: 13px;
}

.header__product-img {
    width: 140px;
    opacity: 0.5;
}

.icon-shopee-logo {
    width: 8.875rem;
    height: 3rem;
    fill: var(--white-color);
}